@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body{
    min-height: 100vh;
    padding-bottom: 2rem;
}

.navigation,
.navbar,
.menu{
    display: flex;
    align-items: center;
}

.header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 4rem 0 1rem;
    z-index: 999;
}

.scroll{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.7rem 0;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.navigation{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.logo-img{
    width: 40px;
}

.menu li{
    margin-inline-start: 2rem;
}

.menu li a{
    font-size: 0.8rem;
    color: var(--dark-grayish-blue);
    position: relative;
}

.menu li a:hover,
.menu li a:active{
    color: var(--soft-red);
}

.menu li a::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--dark-grayish-blue);
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}

.menu li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

#open-menu-btn,
#close-menu-btn{
    display: none;
}

main{
    max-width: 1200px;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.hero-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 1.5rem 0 4rem;
}

.grid-1{
    grid-column: 1 / 3;
}

.grid-1 img{
    width: 100%;
}

.grid-2,
.grid-3{
    grid-row: 2 / 7;
}

.grid-2 h1{
    font-size: 3.5rem;
}

.grid-3{
    display: flex;
    flex-direction: column;
}

.grid-3 p{
    font-size: 1rem;
    color: var(--dark-grayish-blue);
    line-height: 1.6;
}

.grid-3 .cta{
    align-self: flex-start;
    margin-top: auto;
}

.grid-3 .cta a{
    display: block;
    background-color: var(--soft-red);
    padding: 0.95rem 1.5rem;
    color: var(--off-white);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.grid-3 .cta a:hover,
.grid-3 .cta a:active{
    background-color: var(--very-dark-blue);
    transform: translateY(-8px);
    -webkit-box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.6);
}

.grid-4{
    grid-area: 1 / 3 / 7 / 4;
    background-color: var(--very-dark-blue);
    padding: 1.8rem;
}

.grid-4 h2{
    font-size: 2.3rem;
    color: var(--soft-orange);
    margin-bottom: 2rem;
}

.new-blog-topics.border-bottom{
    border-bottom: 1px solid var(--dark-grayish-blue);
    margin-bottom: 2rem;
}

.new-blog-topics h4{
    margin-bottom: 0.9rem;
}

.new-blog-topics h4 a{
    color: var(--off-white);
    font-size: 1.3rem;
}

.new-blog-topics h4 a:hover,
.new-blog-topics h4 a:active{
    color: var(--soft-orange);
}

.new-blog-topics p{
    font-size: 0.95rem;
    color: var(--grayish-blue);
    line-height: 1.8;
}

.new-blog-topics.border-bottom p{
    margin-bottom: 2rem;
}

.tech-blog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.topic{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.topic-img{
    max-width: 100px;
}

.topic-img img{
    width: 100%;
}

.topic-text h4{
    font-size: 1.8rem;
    color: var(--grayish-blue);
    margin-bottom: 1rem;
}

.topic-text h5{
    margin-bottom: 0.6rem;
}

.topic-text h5 a{
    color: var(--very-dark-blue);
    font-size: 1.125rem;
    font-weight: 800;
}

.topic-text h5 a:hover,
.topic-text h5 a:active{
    color: var(--soft-red);
}

.topic-text p{
    color: var(--dark-grayish-blue);
    font-size: 0.95rem;
    line-height: 1.6;
}